name: flutter_getx_mvvm_template
description: A new Flutter project.

publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.2 <4.0.0'

dependencies:
  flutter:
    sdk: flutter


  cupertino_icons: ^1.0.2
  get: ^4.6.5
  logger: ^1.3.0
  google_fonts: ^4.0.5
  http: ^1.0.0
  intl: ^0.18.1
  cached_network_image: ^3.2.3
  fluttertoast: ^8.2.2
  shared_preferences: ^2.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^2.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
